@import "normalize.css";
/**
    * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
    * http://cssreset.com
    */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --------------------------------------------------------------------------------------------- 
COLOUR SCHEME */
/* --------------------------------------------------------------------------------------------- 
TYPOGRAPHY */
body {
  font-family: arial,helvetica,tahoma;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -1px;
  line-height: 100%;
  font-weight: bold;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  text-decoration: none;
}
h1 {
  line-height: 100%;
  font-size: 30px;
}
h2 {
  line-height: 100%;
  font-size: 20px;
}
h3 {
  line-height: 100%;
  font-size: 16px;
}
h4 {
  line-height: 100%;
}
h5 {
  line-height: 100%;
}
strong {
  font-weight: bold;
  color: #333;
}
a,
a:visited {
  text-decoration: underline;
  outline: 0;
}
a:hover,
a:focus {
  color: #000;
  text-decoration: none;
}
p a,
p a:visited {
  line-height: inherit;
}
/* --------------------------------------------------------------------------------------------- 
LAYOUT */
body {
  line-height: 100%;
  -webkit-text-size-adjust: 100%;
}
#appContainer {
  margin: 0px auto;
  width: 960px;
}
#navContainer {
  margin: 0 auto;
  width: 960px;
  display: block;
}
.clear {
  clear: both;
}
/* --------------------------------------------------------------------------------------------- 
MISC */
#JSONContainer li {
  float: left;
}
.entry {
  margin: 0px auto;
  width: 960px;
}
/* --------------------------------------------------------------------------------------------- 
NAVIGATION */
#navContainer ul li {
  float: left;
  margin: 10px 20px 10px 0px;
}
